<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/style2.css">
    <title>Alblums</title>
</head>
<body>
    <h1>Alblums</h1>
    <div id="artist-gallery">
        {{#each album}}
        <div id="artist-result">
            <h2>{{this.name}}</h2>
            {{#if images.length}}
            <img src={{this.images.0.url}} alt="{{this.name}} Image"/>
            {{else}}
            <p>No Images Found</p>
            {{/if}}
            <a href="/tracks/{{this.id}}">View Tracks</a>
        </div>
        {{/each }}
    </div>
</body>
</html>